:root{
    --primary-color: #f872b9ef;
    --secondary-color: #3a9c68;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

/* *************************************** Join ********************************** */
.join{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8rem;
    height: 100vh;
}

.join__container{
    height: 22rem;
    padding: 2rem 5rem;
    background-color: var(--primary-color);
}

.join__heading{
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: .5rem;
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
}

.join__input{
    border-radius: 0;
    padding: .4rem .45rem;
    margin-bottom: 3px;
    width: 100%;
    font-size: 1.3rem;
}

.join__button{
    color: #fff;
    background-color: var(--secondary-color);
    font-size: 1.4rem;
    text-decoration: none;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    cursor: pointer;
}

/* *************************************** Chat ********************************** */
.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid blue;
    border-radius: 8px;
    height: 60%;
    width: 50%;
}

/* *************************************** Chat Header ********************************** */
.chatHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-radius: 8px 8px 0 0;
    height: 4.5rem;
    width: 100%;
    padding: 1rem
}

.chatHeader__title{
    font-size: 2.2rem;
    color: white;
}

.chatHeader__btn{
    background-color: #e4370c;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.chatHeader__btn:hover{
    background-color: #be5b43;
}

/* *************************************** Chat Input ********************************** */
.chatInput{
    display: flex;
    border-top: 2px solid #d3c2c2;
}

.chatInput__input{
    border: none;
    border-radius: 0;
    padding: .4rem 1rem;
    width: 80%;
    font-size: 1.3rem;
    border-bottom-left-radius: 8px;
}

.chatInput__input:focus, textarea:focus, select:focus{
    outline: none;
}

.chatInput__button{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 1rem;
    display: inline-block;
    border: none;
    border-bottom-right-radius: 8px;
    width: 20%;
    cursor: pointer;
}

/* *************************************** Message ********************************** */
.messages{
    padding: 1.5rem 1rem;
    overflow: auto;
    flex: auto;
}

.message{
    display: flex;
    justify-content: flex-end;
    margin-bottom: .4rem;
}

.message__box{
    background: #F3F3F3;
    border-radius: 20px;
    padding: .5rem 1rem;
    display: inline-block;
    max-width: 80%;
}
  
.message__text{
    width: 100%;
    font-size: 1.1rem;
    word-wrap: break-word;
}

.message__name{
    display: flex;
    align-items: center;
    padding: 0 2px;
    color: var(--secondary-color);
    letter-spacing: .3px;
}

/* *************************************** Utilities ********************************** */
.startLeft{
    justify-content: flex-start;
}
    
.startRight{
    justify-content: flex-end;
}

.backgroundPink{
    background-color: var(--primary-color);
}

.textWhite{
    color: white;
}

/* *************************************** For Phone ********************************** */
@media(max-width: 750px){
    .join{
        margin-top: 5rem;
    }
    
    .join__container{
        padding: 2rem;
    }
    
    .join__heading{
        font-size: 2rem;
    }

    .chat__container{
        height: 80%;
        width: 95%;
    }

    .chatHeader__title{
        font-size: 1.5rem;
    }
}